---
import Layout from '../layouts/Layout.astro';
import Magazine from '../components/magazines.astro';
---

<Layout>
  <aside slot="jl"></aside>

  <main slot="mr" class="m-6">
    <!-- Sección de Perfil -->
    <h1 class="text-3xl font-bold">Profile</h1>
    <hr class="border-t border-gray-400 my-1" />
    <p class="text-justify pt-1">
      I hold a degree in Industrial Engineering from UPC, specialized in Finance at UNI.
      My professional background focuses on financial statement analysis, risk management,
      report automation, and investments. I am recognized for optimizing processes and supporting
      decision-making, and I seek new challenges in finance to apply and expand my knowledge.
    </p>

    <section class="bg-pink-50 pt-5">
		<h1 class="text-3xl font-bold">Experience</h1>
		<hr class="border-t border-gray-400 my-2" />
	  
		<div class="flex flex-col  relative pl-1">
		  <!-- Línea vertical centrada -->
		  <div class="absolute left-[0.67rem] top-3 h-[calc(100%-5rem)] w-[0.2rem] bg-indigo-900 z-0"></div>
			
		  <!-- Primer ítem -->
		  <div class="items-start space-x-4 relative">
			<div class="w-4 h-4 bg-indigo-900 rounded-full mt-[0.65rem] z-10"></div>
			<div class="pl-7 -mt-[1.45rem]">
			  <h3 class="text-lg font-semibold text-blue-900">Repsol</h3>
			  <div class="flex items-center space-x-2">
				<p class="font-medium">Professional Credit Risk Intern</p>
				<p class="text-sm text-gray-800">[2023 - 2024]</p>
			  </div>
			  <ul class="text-justify">
				<li>
				• Conducted financial analyses and solvency assessments for clients and suppliers in Colombia, 
				Bolivia, and Peru.
				</li>
				<li>
				• Developed strategic reports and presentations for Committees with international executives.
				</li>
				<li>
				• Managed the financial analysis of over 1,800 clients and validated bank guarantees for 
				credit lines, using SQL and Excel.	
				</li>
				<li class="italic">
				Key Achievements: Developed and implemented an automated database using Dataverse, 
				optimizing report updates and increasing operational efficiency. Designed credit 
				reports in Power BI and established automations in Power Automate, streamlining information 
				flow and improving decision-making.	
				</li>
			  </ul>
			</div>
		  </div>
	  
		  <!-- Segundo ítem -->
		  <div class="items-start space-x-4 relative">
			<div class="w-4 h-4 bg-indigo-900 rounded-full mt-[0.65rem] z-10"></div>
			<div class="pl-7 -mt-[1.45rem]">
			  <h3 class="text-lg font-semibold text-blue-900">Menorca Inversiones</h3>
			  <div class="flex items-center space-x-2">
				<p class="font-medium">Pre-Professional Finance Intern</p>
				<p class="text-sm text-gray-800">[Jul-22 to Dec-22]</p>
			  </div>
			  <ul class="text-justify">
				<li>
				• Assisted in account reconciliation and financial control of real estate projects, 
				preparing reports in Excel for the Committee and managing bank loans
				</li>
			  </ul>
			</div>
		  </div>

		  <!-- Tercer ítem -->
		  <div class="items-start space-x-4 relative">
			<div class="w-4 h-4 bg-indigo-900 rounded-full mt-[0.65rem] z-10"></div>
			<div class="pl-7 -mt-[1.45rem]">
			  <h3 class="text-lg font-semibold text-blue-900">Central Reserve Bank of Peru</h3>
			  <div class="flex items-center space-x-2">
				<p class="font-medium">Pre-Professional Finance Intern</p>
				<p class="text-sm text-gray-800">[Jan-22 to Apr-22]</p>
			  </div>
			  <ul class="text-justify">
				<li>
				• Analyzed financial statements and investment strategies, using tools like Excel for data analysis.
				</li>
			  </ul>
			</div>
		  </div>
		</div>
	  </section>

    </div>

	<!-- Sección de Educación -->
	 <section class="bg-pink-50 pt-5">
		<h1 class="text-3xl font-bold">Education</h1>
		<hr class="border-t border-gray-400 my-1" />
		<div class="flex flex-col  relative pl-1">
			<!-- Línea vertical centrada -->
			<div class="absolute left-[0.67rem] top-3 h-[calc(100%-6rem)] w-[0.2rem] bg-indigo-900 z-0"></div>
			  
			<!-- Primer ítem -->
			<div class="items-start space-x-4 relative">
			  <div class="w-4 h-4 bg-indigo-900 rounded-full mt-[0.65rem] z-10"></div>
			  <div class="pl-7 -mt-[1.45rem]">
				<h3 class="text-lg font-semibold text-blue-900">Peruvian University of Applied Sciences (UPC)</h3>
				<div class="flex items-center space-x-2">
				  <p class="font-medium">Bachelor’s Degree in Industrial Engineering</p>
				  <p class="text-sm text-gray-800">[2018 - 2022]</p>
				</div>
				<ul class="text-justify">
				  <li>
					Top 10% of class | Member of the Academic Excellence Group
				  </li>
				</ul>
			  </div>
			</div>
		
			<!-- Segundo ítem -->
			<div class="items-start space-x-4 relative">
			  <div class="w-4 h-4 bg-indigo-900 rounded-full mt-[0.65rem] z-10"></div>
			  <div class="pl-7 -mt-[1.45rem]">
				<h3 class="text-lg font-semibold text-blue-900">Central Reserve Bank of Peru</h3>
				<div class="flex items-center space-x-2">
				  <p class="font-medium">Advanced Finance Extension Program</p>
				  <p class="text-sm text-gray-800">[2022]</p>
				</div>
				<ul class="text-justify">
				  <li>
				  Postgraduate-level training in Finance, Investments, Portfolio Management, and 
				  Financial Risk Management
				  </li>
				</ul>
			  </div>
			</div>
  
			<!-- Tercer ítem -->
			<div class="items-start space-x-4 relative">
			  <div class="w-4 h-4 bg-indigo-900 rounded-full mt-[0.65rem] z-10"></div>
			  <div class="pl-7 -mt-[1.45rem]">
				<h3 class="text-lg font-semibold text-blue-900">National University of Engineering (UNI)</h3>
				<div class="flex items-center space-x-2">
				  <p class="font-medium">XIV Specialization Program in Finance</p>
				  <p class="text-sm text-gray-800">[2022]</p>
				</div>
				<ul class="text-justify">
				  <li>
					Courses: Financial Mathematics, Financial Statement Analysis and Interpretation, 
					Business Valuation, Financial Derivatives, Capital Markets, Portfolio Management
				  </li>
				</ul>
			  </div>
			</div>

			<!-- Cuarto ítem -->
			<div class="items-start space-x-4 relative">
				<div class="w-4 h-4 bg-indigo-900 rounded-full mt-[0.65rem] z-10"></div>
				<div class="pl-7 -mt-[1.45rem]">
				  <h3 class="text-lg font-semibold text-blue-900">University of CEMA (UCEMA)</h3>
				  <div class="flex items-center space-x-2">
					<p class="font-medium">Diploma in Capital Markets</p>
					<p class="text-sm text-gray-800">[2023]</p>
				  </div>
				  <ul class="text-justify">
					<li>
						Courses: Bonds, Derivatives, Options and Swaps, Investment Strategies, 
						Technical Analysis, Company and Stock Valuation, Market Operations, Cryptocurrencies 
					</li>
				  </ul>
				</div>
			  </div>

	 </section>

  </main>

  <aside slot="ab">
    <Magazine />
  </aside>
</Layout>
