---
import Layout from '../layouts/Layout.astro';
import Magazine from '../components/magazines.astro';
import Section from '../components/Sectionfi.astro'
---

<Layout>
	<aside slot="jl">

	</aside>
	<main slot="mr" class="m-6">
		<h1 class="text-3xl font-bold dark:text-gray-300 pb-4">
            Financial Mathematics
		</h1>
		<h2 class="text-2xl font-bold">Notes</h2>
		<hr class="border-t border-gray-400 my-1" />
		
	</main>
	
	<aside slot="ab">
		<Magazine>

		</Magazine>
	</aside>
</Layout>