---
import Layout from '../layouts/Layout.astro';
import Magazine from '../components/magazines.astro';
import Sectionpr from '../components/Sectionpr.astro';
---

<Layout>
	<aside slot="jl">
		
	</aside>
	<main slot="mr" class="m-6">
		<section>
			<h2 class="text-[1.2rem] dark:text-gray-300">
				Welcome👋
			​</h2>
			<h1 class="mt-1.5 text-[2.5rem] text-[rgb(24,24,103)] font-bold dark:text-[rgb(238,88,88)]">
				I'm Jose Molleda 90
			</h1>
			<h3 class="-mt-3 text-[2.5rem] text-[rgb(24,24,103)] font-bold dark:text-[rgb(238,88,88)]">
				Industrial Engineer
			</h3>
			<p class="mt-1.5 text-[1.2rem] text-justify dark:text-gray-300">
				This is my personal blog, where you can find my programming projects, 
				notes, services, CV, and other topics. I hope you find it useful
			</p>
		</section>
		<section>
			<h4 class="mt-8 text-2xl font-bold dark:text-gray-300">
				My last projects
			</h4>
			<p>
				....................
			</p>
			<h4 class="mt-8 text-2xl font-bold dark:text-gray-300">
				My last notes
			</h4>
			<p>
				................
			</p>
		</section>
	</main>
	<aside slot="ab">
		<Magazine>

		</Magazine>
	</aside>
</Layout>
