---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<aside slot="jl">
		
	</aside>
	<main slot="mr">
		<section>
			<h2>Welcome👋​</h2>
			<h1>I'm Jose Molleda </h1>
			<h3>Industrial Engineer</h3>
			<p>
				This is my personal blog, where you can find my programming projects, 
				notes, services, CV, and other topics. I hope you find it useful
			</p>
		</section>
	</main>
</Layout>
<style>
	section {
		padding: 50px;
		text-align: left;
		line-height: 0.4;
		text-align: justify; 
	}
	h2 {
		font-weight: normal;
		font-size: 30px;
	}
	h1 {
		font-size: 50px;
		color: rgb(24, 24, 103);
	}

	h3 {
		font-size: 40px;
		color: rgb(24, 24, 103);
	}

	p {
		font-size: 20px;
		line-height: 1.3;
		color: rgb(3, 3, 3);
	}
	
</style>
