---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<aside slot="jl">
		
	</aside>
	<main slot="mr">
		<section>
			<h2>Welcome👋​</h2>
			<h1>I'm Jose Molleda</h1>
			aa
		</section>
	</main>
</Layout>
<style>
	section {
		padding: 50px 25px; 
		text-align: left;
		line-height: 0.6;
	}
	h2 {
	font-weight: normal;
	font-size: 22px;
	}
	h1 {
		font-size: 40px;
		color: rgb(28, 28, 95);
	}
</style>
