---
import Layout from '../layouts/Layout.astro';
import Magazine from "../components/magazines.astro";
---

<Layout>
	<aside slot="jl">
		
	</aside>
	<main slot="mr" class="pt-5 m-6">
		<section>
			<h2 class="text-[1.4rem]">
				Welcome👋
			​</h2>
			<h1 class="mt-1.5 text-[2.5rem] text-[rgb(24,24,103)] font-bold">
				I'm Jose Molleda 
			</h1>
			<h3 class="-mt-3 text-[2.5rem] text-[rgb(24,24,103)] font-bold">
				Industrial Engineer
			</h3>
			<p class="mt-1.5 text-[1.2rem] text-justify">
				This is my personal blog, where you can find my programming projects, 
				notes, services, CV, and other topics. I hope you find it useful
			</p>
		</section>
		<section>
			<h4 class="mt-8 text-2xl font-bold">
				My last projects
			</h4>
			<p>
				....................
			</p>
			<h4 class="mt-8 text-2xl font-bold">
				My last notes
			</h4>
			<p>
				................
			</p>
		</section>
	</main>
	<aside slot="ab">
		<Magazine>

		</Magazine>
	</aside>
</Layout>
