---
import Layout from '../layouts/Layout.astro';
import Magazine from '../components/magazines.astro';
import Section from '../components/Sectionpr.astro';
---



<Layout>
	<aside slot="jl">

	</aside>
	<main slot="mr" class="m-6">
		<h1 class="text-3xl font-bold pb-4">
			Programming
		</h1>
		
		<Section>
		</Section>			
	</main>
	<aside slot="ab">
		<Magazine>

		</Magazine>
	</aside>
</Layout>
