---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<aside slot="jl">

	</aside>
	<main>
		<section>
            
		</section>
	</main>
</Layout>
<style>
	section {
		padding: 50px 50px;
		text-align: left;
		line-height: 0.36;
		text-align: justify center; 
	}
</style>
