---
import Layout from '../layouts/Layout.astro';
import Magazine from '../components/magazines.astro';
---

<Layout>
	<aside slot="jl">

	</aside>
	<main slot="mr" class="m-6">
		<div>
			<h1 class="text-center text-[1.9rem] font-bold dark:text-white">
				Statistics
			</h1>
			<h2 class="text-[1.7rem] font-bold border-b border-gray-400 text-indigo-500
			 dark:text-indigo-300 mb-2" id="section-Intro">
			 	Using Graphs to Describe Data
			</h2>
			<h3 class="text-[1.6rem] font-bold text-green-800 dark:text-green-600">
				I) Decision Making in an uncertain environment
			</h3>
			<h4 class="text-[1.2rem] font-bold text-red-800 dark:text-red-300 text-center">
				<u>Random and Systematic Sampling</u>
			</h4>
			<p class="dark:text-[rgb(254,129,129)] text-justify text-[rgb(24,24,103)]">
				<strong>✦ Population and Sample:</strong>
				<p class="text-justify text-[1.1rem]">
				<ul class="dark:text-white ml-7" style="list-style-type: disc;">
					<li>
						<strong>Population (N):</strong> It's the complete set of all items that interest an investigator.
					</li>
					<li>
						<strong>Sample (n):</strong> It's is an observed subset (or portion) of a population
					</li>
				</ul>
				</p>
			</p>
			<p class="dark:text-white text-justify">
				The sample data must have some validity over the general population. 
				In addition, we must follow in the sample selection process is randomization.
			</p>		
		</div>
	</main>
	<aside slot="ab">
		<div class="px-4">
            <h2 class="text-lg font-bold text-center text-gray-800  dark:text-gray-400">
                Index
            </h2>
            <section class="text-gray-700 dark:text-gray-300">
			<a href="#section-Intro" class="hover:underline text-[1rem]">Introduction</a><br>

            </section>
	</aside>
</Layout>

<script is:inline>
	document.addEventListener("DOMContentLoaded", () => {
	  const buttons = document.querySelectorAll(".copy-btn");
	
	  buttons.forEach((btn) => {
		btn.addEventListener("click", () => {
		  const code = btn.previousElementSibling; // Busca el <code>
		  if (code) {
			navigator.clipboard.writeText(code.innerText.trim()).then(() => {
			  btn.innerText = "Copiado ✅";
			  setTimeout(() => {
				btn.innerText = "Copiar";
			  }, 2000);
			});
		  }
		});
	  });
	});
</script>
