---

---

<div class="pt-6 px-4">
    <h2 class="text-lg font-bold text-center text-gray-800 mb-3">
      Technology news
    </h2>
    <ul class="space-y-1 list-disc list-inside text-sm text-gray-700">
      <li>
        <a href="https://techcrunch.com/" target="_blank" 
        class="hover:underline hover:text-blue-600 transition-colors">
          TechCrunch
        </a>
      </li>
      <li>
        <a href="https://hbr.org/" target="_blank" 
        class="hover:underline hover:text-blue-600 transition-colors">
          Harvard Business Review
        </a>
      </li>
      <li>
        <a href="https://www.technologyreview.com/" target="_blank" 
        class="hover:underline hover:text-blue-600 transition-colors">
          MIT Technology Review
        </a>
      </li>
      <li>
        <a href="https://www.nasa.gov/" target="_blank" 
        class="hover:underline hover:text-blue-600 transition-colors">
          NASA
        </a>
      </li>
      <li>
        <a href="https://es.wired.com/" target="_blank" 
        class="hover:underline hover:text-blue-600 transition-colors">
          WIRED
        </a>
      </li>
      <li>
        <a href="https://www.fastcompany.com/" target="_blank" 
        class="hover:underline hover:text-blue-600 transition-colors">
          Fast Company
        </a>
      </li>
    </ul>
    <h2 class="text-lg font-bold text-center text-gray-800 mb-3 pt-4">
      Financial News
    </h2>
    <ul class="space-y-1 list-disc list-inside text-sm text-gray-700">
      <li>
        <a href="https://www.bloomberg.com/latam/" target="_blank" 
        class="hover:underline hover:text-blue-600 transition-colors">
          Bloomberg
        </a>
      </li>
      <li>
        <a href="https://es.investing.com/" target="_blank" 
        class="hover:underline hover:text-blue-600 transition-colors">
          Investing
        </a>
      </li>
      <li>
        <a href="https://finance.yahoo.com/" target="_blank" 
        class="hover:underline hover:text-blue-600 transition-colors">
          Finance Yahoo
        </a>
      </li>
    </ul>
  </div>
  