---
import Projects from "../pages/Projects.astro"
import Notes from "../pages/Notes.astro";
import Services from "../pages/Services.astro";
import CV from "../pages/CV.astro";
---

<div class="sidebar">
  <a href="/">Home</a>
  <a href="/Projects">Projects</a>
  <a href="/Notes">Notes</a>
  <a href="/Services">Services</a>
  <a href="/CV">CV</a>
</div>


<style>
  .sidebar {
    width: 100%;
    background-color: rgb(72, 98, 133);
    box-sizing: border-box; /* Prevents padding from increasing width */
    overflow: hidden; /* Avoids weird artifacts */
  }

  .sidebar a {
    display: block;
    padding: 12em 20em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }

  .sidebar a:hover {
    background-color: #333b75;
  }
</style>
