---

---

<div class="sidebar">
  <a href="/">Home</a>
  <a href="/">Projects</a>
  <a href="/">Summaries</a>
  <a href="/">Services</a>
  <a href="/">CV</a>
</div>


<style>
  .sidebar {
    width: 100%;
    background-color: rgb(72, 98, 133);
    padding: 20px;
  }

  .sidebar a {
    display: block;
    margin: 0px 0;
    padding: 12px 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }

  .sidebar a:hover {
    background-color: #333b75;
  }
</style>
