---

---

<div class="w-full bg-[#486285] overflow-hidden dark:bg-[#111a27]">
  <a href="/" class="block px-5 py-2 text-white text-[1.1rem] rounded-lg 
                    transition-colors duration-300 hover:bg-[#333b75]">
    Home
  </a>
  <a href="/Projects" class="block px-5 py-2 text-white text-[1.1rem] rounded-lg transition-colors duration-300 hover:bg-[#333b75]">
    Projects
  </a>
  <a href="/Finance" class="block px-5 py-2 text-white text-[1.1rem] rounded-lg transition-colors duration-300 hover:bg-[#333b75]">
    Finance
  </a>
  <a href="/Programming" class="block px-5 py-2 text-white text-[1.1rem] rounded-lg transition-colors duration-300 hover:bg-[#333b75]">
    Programming
  </a>
  <a href="/CV" class="block px-5 py-2 text-white text-[1.1rem] rounded-lg transition-colors duration-300 hover:bg-[#333b75]">
    CV
  </a>
</div>
