---
import Projects from "../pages/Projects.astro";
import Notes from "../pages/Notes.astro";
import Services from "../pages/Services.astro";
import CV from "../pages/CV.astro";
---

<div class="w-full bg-[#486285] overflow-hidden space-y-2 px-2">
  <a href="/" class="block px-5 py-3 text-white text-lg rounded-lg transition-colors duration-300 hover:bg-[#333b75]">
    Home
  </a>
  <a href="/Projects" class="block px-5 py-3 text-white text-lg rounded-lg transition-colors duration-300 hover:bg-[#333b75]">
    Projects
  </a>
  <a href="/Notes" class="block px-5 py-3 text-white text-lg rounded-lg transition-colors duration-300 hover:bg-[#333b75]">
    Notes
  </a>
  <a href="/Services" class="block px-5 py-3 text-white text-lg rounded-lg transition-colors duration-300 hover:bg-[#333b75]">
    Services
  </a>
  <a href="/CV" class="block px-5 py-3 text-white text-lg rounded-lg transition-colors duration-300 hover:bg-[#333b75]">
    CV
  </a>
</div>
