---
export const prerender = true;
---

<div class="flex justify-center gap-3 items-end">
    <a href="https://github.com/JoseMolleda11" target="_blank"
    class="text-[20px] text-[rgb(252,252,252)] no-underline transition duration-300 ease-in-out hover:text-[#070707] hover:scale-125">
        <i class="fab fa-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/josemolleda11" target="_blank"
    class="text-[20px] text-[rgb(252,252,252)] no-underline transition duration-300 ease-in-out hover:text-[#070707] hover:scale-125">
        <i class="fab fa-linkedin-in"></i>
    </a>
    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=jose.molleda.1999@gmail.com" target="_blank"
    class="text-[20px] text-[rgb(252,252,252)] no-underline transition duration-300 ease-in-out hover:text-[#070707] hover:scale-125">
      <i class="fa-solid fa-envelope"></i>
</div>

<!-- Agrega Font Awesome para los iconos -->
<script src="https://kit.fontawesome.com/180054f428.js" crossorigin="anonymous"></script>
