---

---
<div class="Social-buttons">
    <!-- <a href="https://your-coffee-link.com" target="_blank">
        <i class="fas fa-coffee"></i> 
    </a> -->
    <a href="https://github.com/JoseMolleda11" target="_blank">
        <i class="fab fa-github"></i>
    </a>
    <a href="https://twitter.com/your-profile" target="_blank">
        <i class="fab fa-twitter"></i>
    </a>
    <a href="https://www.linkedin.com/in/josemolleda11" target="_blank">
        <i class="fab fa-linkedin-in"></i>
    </a>
    <!-- <a href="https://your-blog-rss.com" target="_blank">
        <i class="fas fa-rss"></i>
    </a> -->
</div>

<!-- Agrega Font Awesome para los iconos -->
<script src="https://kit.fontawesome.com/180054f428.js" crossorigin="anonymous"></script>

<style>
  .Social-buttons {
    display: flex;
    justify-content: center; /* Centrar los botones */
    gap: 15px; /* Espacio entre botones */
    padding: 20px;
    
  }

  .Social-buttons a {
    font-size: 20px;
    color: rgb(252, 252, 252); /* Puedes cambiar el color */
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
    margin-top: auto;
  }

  .Social-buttons a:hover {
    color: #070707; /* Color al pasar el mouse */
    transform: scale(1.2); /* Efecto de agrandado */
  }
</style>